body {
    /*background-image: url("fondo.jpeg");*/
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
}

h1,
h2,
h3,
a {
    font-family: 'Sriracha', fantasy;
    font-weight: bolder;
    color: white;
}

p {
    font-family: 'Sriracha', fantasy;
    font-weight: lighter;
    color: white;
}

h3 {
    font-style: italic;
}

h1 {
    font-size: 40px;
}

header {
    height: 300px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

#title_box {
    padding: 5px;
    border: solid 3px;
}

#title {
    text-align: center;
}

#back_image {
    background-image: url("design2_image1.jpeg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
}

#title_sub_box {
    padding: 5px;
    border: solid 3px;
    display: none;
}

#title_sub {
    text-align: center;
    margin: 0px;
}

#logo {
    position: absolute;
    left: 5%;
    top: 20px;
}

#nav_id {
    position: absolute;
    top: 440px;
    left: 25%;
    display: inline-flex;
    z-index: 1;
    width: auto;
}

#section_id {
    position: absolute;
    left:%;
    display: block;
    width: auto;
    margin-top: 70px;
    border-radius: 5px;
}

a {
    display: block;
    margin-top: 15px;
}

article {
    margin: 5px 20px 60px 20px;
    border-radius: 5px;
}

.btn {
    background-color: #0039e6;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    box-shadow: 5px 5px #1a1a1a;
    border-radius: 5px;
}

#btn_green {
    background-color: #00cc00;
}

#link_id {
    display: inline;
    margin: 0px;
}

.dark_background {
    background-color: rgba(0, 0, 0, 0.5);
}

#footer_id {
    color: white;
    position: fixed;
    left: 33%;
    bottom: 10px;
    margin: 0px;
}
