.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
}
h1, h2, h3,a {
    font-family: 'Sriracha', fantasy;
    font-weight: bolder;
}

p {font-family: 'Sriracha', fantasy;}

h3{font-style: italic;}
h1{font-size: 40px;}

header{
    height: 300px;
    margin-bottom: 0px; 
    box-sizing: border-box;
}
#title_box{
    position: absolute;
    display: inline-block;
    width: auto;
}
#title{    
    text-align: center;
    margin-top: 0px;
    display: inline-block;
}

#back_image{
    background-image: url("design1_image1.jpeg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: center;
    background-size: cover; 
}
#title_sub_box{
}
#title_sub{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    }
#logo{
    position: absolute;
    right: 10%;
    top:290px ;
    z-index: 1;
}
#nav_id{
    float: left;
    display: inline-block;
    width: 30%;
}
#section_id{
    display: inline-block;
    width: 68%;
    margin-top: 20px;
}
a {
    display: block;
    margin: 25%;
}
#link_id{
    display:inline;
    margin: 0px;
}

#footer_id{
    position: fixed;
    left:10px;
    bottom:10px;
    margin:0px;
}
