body {
    background-image: url("fondo.jpeg");
    background-repeat: repeat;
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
}


.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
}

.background {
    background-color: rgba(255, 255, 255, 0.7);
}

td,
tr,
p {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
a {
    font-family: 'Sriracha', fantasy;
    font-weight: bolder;
}

h3,
h4 {
    font-size: 20px;

}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 50px;
}


header {
    height: 300px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

#title_box {
    padding: 5px;
}

#title {
    text-align: center;
    position: absolute;
    left: 30%;
    top: 110px;
    display: inline-block;
    margin: 0px;
    padding: 0 15px;
    border: 3px solid;
    border-radius: 10px;
}

#back_image {
    background-image: url("design2_image1.jpeg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: top;
    background-size: cover;
}

#title_sub_box {
    padding: 5px;
    border: solid 3px;
    display: block;
    right: 0px;
    margin-top: 0px;
}

#title_sub {
    text-align: center;
    margin: 0px;
}

#logo {
    position: absolute;
    left: 5%;
}

#nav_id {
    position: absolute;
    left: 10px;
    display: inline-block;
    width: 15%;
    margin: 0px;
}

#section_id {
    position: absolute;
    right: 29px;
    display: inline-block;
    width: 83%;
    border-radius: 5px;
    margin: 0px;
    margin-bottom: 50px;
}

a {
    display: block;
    margin-top: 15px;
}

article {
    margin: 5px 20px 60px 20px;
    border-radius: 5px;
}

.btn {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 4px 20px;
    cursor: pointer;
    box-shadow: 5px 5px #1a1a1a;
    border-radius: 5px;
}

#btn_green {
    background-color: lawngreen;
}

#link_id {
    display: inline;
    margin: 0px;
}

#footer_id {
    position: fixed;
    bottom: 1px;
    margin: 0px;
    width: 100%;
    text-align: center
}

ul,
ol,
li {
    font-size: 14px;
}

.item-square {
    list-style-type: square;
}

.item-circle {
    list-style-type: circle;
}

.item-none {
    list-style-type: none;
}

.item-latin {
    list-style-type: lower-latin;
}

.item-decimal {
    list-style-type: decimal;
}

th,
td {
    text-align: left;
    padding: 1px 20px;
}

#p-game1 {

    text-indent: 4em
}

#p-game2 {
    position: relative;
    right: 0px;
    display: inline-block;
}

.item-mes {
    text-align: center;
    vertical-align: top;
}

#container-center {
    position: relative;
    left: 33%;
}

table {
    margin-bottom: 30px;
}

th,
td,
tr {
    border: solid 1px;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}
form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 500px;
}
fieldset {
  border: 1px solid #c6c7cc;
  margin: 5px;
  padding: 5px;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.info {
  padding: 20px 20px 0 20px;
}
.info label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
.info input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}
.action {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px;
}
.action .info-btn {
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 8px 16px;
}
.action label {
  color: #7c7c80;
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}
